@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
.App {
  text-align: center;
  font-family: 'Montez','Roboto', cursive;
  font-size: 1.5em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.musicBackground {
  max-width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 60%;
}
